@model IEnumerable<ProductManagment.Models.ProductModel>
@{
    ViewData["Title"] = "ProductList";
}
<h1>ProductList</h1>


<div class="d-flex flex-row">
    @{
        foreach (var pro in Model)
        {
            <partial name="../Components/Product" model="@pro" />
        }
    }
</div>
