@model ErrorViewModel
@{
    Layout = "~/Pages/Shared/_EmptyLayout.cshtml";
}

<h1>@Model.RequestId</h1>
<img src="https://img.freepik.com/vecteurs-libre/oops-erreur-404-illustration-concept-robot-casse_114360-5529.jpg?size=626&ext=jpg" />
