@page "/productlist"
@using DevExtreme.AspNet.Mvc;
@model ProductListModel

@{
    ViewData["isActive"] = false;
}

<div class="d-flex flex-row">
@{
    foreach (var pro in Model.Products)
    {
       <partial name="Compents/ProductV" model="@pro" />
        <button id="incrementButton">Incrémenter</button>
    }
}
</div>
<script>
$(document).ready(function() {
    $('#incrementButton').click(function() {
            $('#counterValue').text(parseInt($('#counterValue').text()) + 1);
    });

});
</script>